{% if page and page.meta.source %}
<div class="source-links">
{% for filename in page.meta.source %}
    <span class="label label-primary">{{ filename }}</span>
{% endfor %}
</div>
{% endif %}

{{ page.content }}

<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">

  <li class="contributors-holder">
    <span class="contributors-text">Contributors:</span>
    <ul class="contributors" data-bi-name="contributors">
        {% if git_info %}
        {%- for author in git_info.get('page_authors') -%}
        <li>{{ author.name }}</li>
        {%- endfor -%}
      {% endif %}
    </ul>
  </li>
</ul>